<% @recipients.each do |recipient| %>
  <tr>
    <td><%= recipient.name %></td>
    <td><%= recipient.age %></td>
    <td><%= recipient.gift.name %></td>
    <td><%= recipient.city %></td>
    <td><%= recipient.country %></td>
  </tr>
<% end %>
